body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #1252a0;
    background-color: #ffffff;
}

.header {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px; 
    margin-bottom: 100px;
}

.header-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header p {
    text-align: center;
    margin-bottom: 50px;
}


.site-navigation {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

.site-navigation-item {
    margin-right: auto;
    margin-left: auto;
}

.site-navigation-item a {
    font-size: 14px;
    line-height: 18px;
    color: #1252a0;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #f1f3f6;
    box-shadow: 0 4px 30px #d1deef;
}

.site-navigation-item a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.site-navigation-item a:active {
    color: rgba(22, 49, 82, 0.3);
}

.main-content {
    width: 1150px;
    margin: 0 auto;
    padding: 0 50px;
}

h2 {
    text-align: center;
    margin-bottom: 50px;
}

/*Карточки*/

.supervisor-section {
    margin-bottom: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: 50px;
}

.card {
    width: 300px;
    padding: 20px;
    box-shadow: 0 4px 30px #d1deef;
}

.card a {
    text-decoration: none;
    color: #1252a0;
}

.card a:hover {
    color: rgba(22, 49, 82, 0.5);
}

.card a:active {
    color: rgba(22, 49, 82, 0.5);
}

.card-img {
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.card-supervisor {
    margin: 0;
    text-align: center;
    margin-bottom: 20px;
}

.card-status {
    margin: 0;
    margin-bottom: 20px;
    font-style: italic;
}

.card-text {
    margin: 0;
    margin-bottom: 20px;
    font-weight: bold;
}

/*форма отправки*/

.form {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.main-form {
    padding: 15px;
    display: block;
}

.name-lable {
    font-weight: bold;
}

.name-input {
    width: 100%;
    margin-bottom: 25px;
    padding: 10px 15px;
    box-sizing: border-box;
    border: 2px solid #00c6bd;
    border-radius: 4px;
    outline: none;
}

.year-lable {
    font-weight: bold;
}

.year-select {
    border-radius: 5px;
    margin-bottom: 25px;
    margin-right: 25px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid #00c6bd;
    border-radius: 4px;
    outline: none;
}

.supervisor-lable {
    font-weight: bold;
}

.supervisor-select {
    width: 350px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid #00c6bd;
    border-radius: 4px;
    outline: none;
}

.textarea {
    width: 100%;
    resize: vertical;
    box-sizing: border-box;
    height: 100px;
    margin-bottom: 25px;
    padding: 10px 15px;
    font-size: large;
    border: 2px solid #00c6bd;
    border-radius: 4px;
    outline: none;
}

.button {
    display: block;
    padding: 9px 32px;
    background-color: #45abde;
    color: #ffffff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.button:hover,
.button:focus {
    background-color: #61c3f4;
}

.button:active {
    background-color: #2590c6;
}

.button:disabled {
    background-color: #45abde;
    opacity: 0.3;
}

/*Страница для преподавателей*/

.form-select {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.supervisor-lable-select {
    font-weight: bold;
}

.supervisor-select-select {
    width: 350px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 2px solid #00c6bd;
    border-radius: 4px;
    outline: none;
    margin-bottom: 50px;
    margin-left: 15px;
}

.main-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
}

.main-table th, td {
    border: 1px solid #00c6bd;
}

.table-body td {
    padding-left: 5px;
}

.modify {
    text-align: center;
}

/*Footer*/

.footer {
    width: 1150px;
    margin: 100px auto;
    padding: 0;
    border-top: 1px solid #00c6bd;
}

.dev {
    text-align: end;
}

.copyright {
    text-align: end;
}

.active {
    border-left: 3px solid #00c6bd;
    padding-left: 5px;
}
